.list_style {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 30px;
}
.list_style_box {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.separate_box {
  margin-bottom: 5px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
