.page_button {
  position: fixed;
  bottom: 45px;
  background-color: rgb(215, 214, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.page_button > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
}
